@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@using PortfolioMP.Controllers
@using PortfolioMP.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IViewLocalizer ViewLocalizer

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Michał Pamięta</title>
    <meta content="portfolio,cv,dev,backend,c#,csharp,java,python,js,javascript,html,css,bootstrap" name="keywords">
    <meta content="Strona domowa Michała Pamięta - CV i portfolio" name="description">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />


</head>

<body>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Michał Pamięta
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- TODO:: add dark theme / switch theme -->
    <div id="preloader"></div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/typed/typed.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/contactform.js"></script>
    <script src="~/js/jqBootstrapValidation.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
